<div class="background-container">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div>
            <h2>Recipe Book</h2>
          </div>
          <br>
          <ng-template appPlaceHolder></ng-template>
          <div class="row">
            <div class="col-xs-12">
              <div *ngIf="isLoading" style="text-align: center">
                <app-loader></app-loader>
              </div>
              <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
                <div class="form-group">
                  <label for="email">E-mail</label>
                  <input type="email" id="email" ngModel name="email" required email class="form-control">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" id="password" ngModel name="password" required minlength="6"
                    class="form-control">
                </div>
                <div class="btn-group-sm">
                  <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">{{ isLogedIn ? 'Login' :
                    'Signup' }}</button> |
                  <button class="btn btn-primary" type="button" (click)="onSwitched()">Switch to {{ isLogedIn ? 'Signup' :
                    'Login' }}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>