/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.custom-btn {
  color: #ffffff;
  border: 1.5px solid rgb(116, 62, 0);
  background: rgb(255, 151, 61);
  background: linear-gradient(90deg, rgba(255, 151, 61, 1) 0%, rgba(170, 85, 1, 1) 100%);
}

.btn {
  color: #ffffff !important;
}